extends ../base

include _form

block content
    main.main
        .login-form
            - 
              const items = [
                {
                  inputId: "password-new-reset",
                  label: "Enter the email address associated with your account and we'll send you a link to reset your password.",
                  isLabel: true
                },
                {
                  inputId: "email",
                  inputType: "email",
                  placeholder: "you@example.com",
                  value: "",
                  itemStyle: "ma-bt-md",
                  label: "Email address"
                },
              ];
            +form("Forgot your password?", "ma-bt-lg", "form-user-password-forgot", items, "password-reset-btn", "Continue")