extends ../base

include _form

block content
    main.main
        .login-form
            - 
              const items = [
                {
                  inputId: "password-new-reset",
                  label: `Enter a new password for `,
                  specialText: email,
                  isLabel: true
                },
                {
                  inputId: "password-new-reset",
                  inputType: "password",
                  placeholder: "••••••••",
                  value: "",
                  label: "New password",
                  inputMinLength: "8"
                },
                {
                  inputId: "password-confirm-reset",
                  inputType: "password",
                  placeholder: "••••••••",
                  value: "",
                  label: "Confirm password",
                  itemStyle: "ma-bt-lg",
                  inputMinLength: "8"
                },
              ];
            +form("Reset your password", "ma-bt-lg", "form-user-password-reset", items, "password-reset-btn", "Reset")
            if resetToken 
              p.hidden(data-token=`${resetToken}`)